<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WebRTC</title>
  </head>
  <body>
    <video autoplay></video>

    <script>
      if (navigator.getUserMedia) {
        const constraints = { audio: true, video: true };
        const videoArea = document.querySelector("video");

        navigator.getUserMedia(constraints, onSuccess, onError);

        // Success Callback
        function onSuccess(stream) {
          console.log("success we have a video");
          videoArea.srcObject = stream;
          videoArea.play();
        }

        // Error Callback
        function onError(error) {
          console.log("Error", error);
        }
      }
    </script>
  </body>
</html>
